@media screen and ( max-width:415px) {

    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

    /* FONT STYLE AWAL */
    * {
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;
    
    }
    /* FONT STYLE AKHIR */
    
    /* BODY AWAL */
    body {
        background-color: #303841;
    
    }
    
    /* BODY AKHIR */
    
    /*  MULAI CONTAINER NAV  */
    .container_bar {
        background-color: #292929;
        position: relative;
        width: 100%;
        height: 65px;
    }
    
    .container_bar h1 {
        color: aquamarine;
        position: relative;
        top: 19px;
        left: 35%;
        font-size: 30px;
        height: 50%;
        width: 50px;
    }
    
    /* STYLE MULAI SIDE BAR */
    .btn{
        position: absolute;
        top: 13px;
        left: 15px;
        height: 45px;
        width: 45px;
        text-align: center;
        background: #1b1b1b;
        border-radius: 10px;
        cursor: pointer;
        transition: left 0.4s ease;
    }
    
    .btn.click{
        left: 260px;
    }
    
    .btn span{
        color: #a76fdf;
        font-size: 28px;
        line-height: 45px;
    }
    
    .btn.click span:before{
        content: '\f00d';
    }
    
    .sidebar {
        position: fixed; 
        top: -10px;
        width: 250px;
        height: 100%;
        left: -250px;
        background: #1b1b1b;
        border-radius: 10px;
        transition: left 0.4s ease;
    }
    .sidebar.show{
        left: 0px;
    }
    
    .sidebar .text{
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        background: #1e1e1e;
        letter-spacing: 1px;
    }
    
    nav ul{
        background-color: #1b1b1b;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    
    nav ul li{
        line-height: 60px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    
    nav ul li:last-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }
    
    nav ul li a{
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-left: 40px;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left:3px solid transparent ;
    }
    
    nav ul li:hover a{
        color: #a76fdf;
        background: #1e1e1e;
        border-left-color:#a76fdf;
    }
    
    nav ul ul {
        position: static;
        display: none;
    }
    
    nav ul .feat-show.show{
        display: block;
    }
    
    nav ul .serv-show.show{
        display: block;
    }
    
    nav ul ul li{
        line-height: 42px;
        border-bottom: none;
    }
    
    nav ul ul li a{
        font-size: 20px;
        color: #a76fdf;
        padding-left: 80px;
    }
    
    nav ul li.active ul li a{
        color: #fff;
        background: #1e1e1e;
        border-left-color: transparent;
    }
    
    nav ul ul li a:hover{
        color: #a76fdf !important;
        background: #1e1e1e!important;
    }
    
    nav ul li a span {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: transform 0.4s;
    }
    
    /* STYLE AKHIR SIDE BAR */
    /* MULAI search bar */
    .container_search{
        height: 50vh;
        margin-inline: 1.5rem;
        display: grid;
        position: absolute;
        right: 10px;
        top: 13px;
    }
    
    form#search-bar.search.show-search{
        color: cyan;
    }
    
    .search{
        position: relative; 
        width: 43px;
        height: 35px;
        background-color: #1e1e1e;
        box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
        border-radius: 10px;
        padding: 10px;
        color: cyan;
        overflow: hidden; 
         transition: width .5s cubic-bezier(.9, 0, .3, .9);
    }
    
    .search__input{
        background-color: #1e1e1e;
        border: none;
        outline: none;
        width: calc(100% - 64px);
        height: 100%;
        border-radius: 10px;
        padding-left: 14px;
        font-size: 20px;
        font-weight: 20px ;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1.5s;
    }
    
    input.search__input{
        color: cyan;
    }
    
    .search__input:-webkit-autoill{
        box-shadow: 0 0 0 100px var(--white-color) inset;
    }
    
    .search__button{
        width: 30px;
        height: 30px;
        background-color: #1b1b1b;
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: transformm.6s cubic-bezier(.9, 0, .3, .9);
    }
    
    .search__icon,
    .search__close{
        color:cyan;
        font-size: 20px;
        position: absolute;
        transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
    }
    
    .search__close{
        opacity: 0;
    }
    
    .show-search{
        width: 300px;
    }
    
    .show-search .search__input{
        opacity: 1;
        pointer-events: initial;
    }
    
    .show-search .search__button{
        transform: rotate(90deg);
    }
    
    .show-search .search__icon{
        opacity: 0;
    }
    
    .show-search .search__close{
        opacity: 1;
    }
    
    /* Halaman Search akhir */
    
    
    
    /* halaman1 */
    .chepter{
      
    }
    
    /* Tomboll pintas awal */
    .back{
        background-color: #282828;
        height: 30px;
        width: 350px;
        border-radius: 8px;
        margin-left: -140px ;
        padding-left: 30px;
        padding-top: 5px;
        margin-top: -70px;
    }
    
    .back a{
        color: #909090;
    }
    
    .back a:hover{
        color: #a76fdf;
    }
    
    .back span{
        color: #909090;
        margin-top: 15px ;
    }
    /* tomboll pintas akhir */
    /* Alat alat */
    .P1 h4{
        color: #fff;
        padding-top: 20px;
        margin-left: -445px;
        font-size: 19px ;
    }
    
    
    .P1 .title hr{
        margin-top: 15px;
        width: 315px;
        margin-left: -125px;
        background-color: #313131
        
    }
    
    .tbl_up{
        display: flex;
        
    }
    
    /* Alat1 */
    
    .tbl_up1{
        width: 50px;
        margin-left: -130px;
        margin-top: 50px;
    }
    
    .tbl_up1 select{
        color: #909090;
        background-color: #1b1b1b;
        border-radius: 10px;
        border: none;
        width: 124px;
        padding-left: 10px;
        height: 25px;
    }
    
    /* Alat1 */
    /* Alat2 */
    
    .tbl_up2{
        width: 120px;
        height: 26px;
        background-color: #663399;
        border-radius: 10px;
        margin-left: 175px;
        margin-top: 51px;
    }
    
    .tbl_up2:hover{
        background-color: #353535;
    }
    
    .tbl_up2 a{
        color: #fff;
        padding-left: 12px;
        line-height: 23px;
    
    }
    
    .ri-download-line{
        padding-right: 5px;
        font-size: 14px;
    }
    
    /* Alat2 */
    /* Alat3 */
    
    .tbl_up3{
        width: 90px;
        height: 26px;
        background-color: #663399;
        border-radius: 10px;
        margin-left: -190px;
        margin-top: 130px;
    }
    
    .tbl_up3.active{
        background-color: #353535;
    }
    
    .tbl_up3 a{
        color: #fff;
        padding-left: 12px;
        line-height: 23px;
        font-size: 16px;
    }
    
    .ri-arrow-left-s-line{
        font-size: 16px;
    
    }
    /* Alat3 */
    
    /* Alat4 */
    
    .tbl_up4{
        width: 90px;
        height: 26px;
        background-color: #663399;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 130px;
    }
    
    .tbl_up4:hover{
        background-color: #353535;
    }
    
    .tbl_up4 a{
        color: #fff;
        padding-left: 20px;
        line-height: 23px;
        font-size: 16px;
    }
    
    .ri-arrow-right-s-line{
        font-size: 16px;
    }
    /* Alat4 */
    
    
    /* Image */
    .gambar{
        margin-top: 20px ;
        margin-left: -131px;
        display: grid;
    }

    .Img1{
        margin-left: 0px;
        width: 355px;
    }
    
    .Img2{
        width: 355px;
    }
    .Img3{
        width: 355px;
    }
    .Img4{
        width: 355px;
    }
    .Img5{
        width: 355px;
    }
    .Img6{
        width: 355px;
    }
    .Img7{
        width: 355px;
    }
    .Img8{
        width: 355px;
    }
    .Img9{
        width: 355px;
    }
    .Img10{
        width: 355px;
    }
    .Img11{
        width: 355px;
    }
    .Img12{
        width: 355px;
    }
    .Img13{
        width: 355px;
    }
    .Img14{
        width: 355px;
    }
    .Img15{
        width: 355px;
    }
    .Img16{
        width: 355px;
    }
    .Img17{
        width: 355px;
    }
    .Img18{
        width: 355px;
    }
    .Img19{
        width: 355px;
    }
    .Img20{
        width: 355px;
    }
    /* Image */
    
    /* halaman bawah */
    .tbl_bwah{
        display: flex;
    }
    /* alat bawah1 */
    
    .tbl_bwah1{
        width: 50px;
        margin-left: -130px;
        margin-top: 50px;
    }
    
    .tbl_bwah1 select{
        color: #909090;
        background-color: #1b1b1b;
        border-radius: 10px;
        border: none;
        width: 124px;
        padding-left: 10px;
        height: 25px;
    }
    
    /* alat bawah1 */
    
    /* alat bawah2 */
    
    .tbl_bwah2{
        width: 90px;
        height: 26px;
        background-color: #663399;
        border-radius: 10px;
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .tbl_bwah2:hover{
        background-color: #353535;
    }
    
    .tbl_bwah2 a{
        color: #fff;
        padding-left: 12px;
        line-height: 23px;
        font-size: 16px;
    }
    
    .ri-arrow-left-s-line{
        font-size: 16px;
    
    }
    
    /* alat bawah2 */
    
    /* alat bawah3 */
    .tbl_bwah3{
        width: 90px;
        height: 26px;
        background-color: #663399;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 50px;
        transition: color .4s ease;
    }
    
    .tbl_bwah3:hover{
        background-color: #353535;
    }
    
    .tbl_bwah3 a{
        color: #fff;
        padding-left: 20px;
        line-height: 23px;
        font-size: 16px;
        
    }
    
    .ri-arrow-right-s-line{
        font-size: 16px;
    }
    /* alat bawah3 */
    
    
    /* halaman bawah */
    
    footer{
        background: #111;
        width: 100vw;
        padding-top: 40px;
        margin-left: -180px;
        color: #fff;
        margin-top: 200px;
        height: auto;
    }
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content h3{
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }
    
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }
    
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
        border-radius: 50%;
    }
    .socials a i{
        font-size: 1.1rem;
        width: 20px;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: #a76fdf;
    }
    
    .footer-bottom p{
        float: left;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
     }
     .footer-bottom p a{
       color:#a76fdf;
       font-size: 16px;
       text-decoration: none;
     }
     .footer-bottom span{
         text-transform: uppercase;
         opacity: .4;
         font-weight: 200;
     }
    
     .footer-menu{
        float: right;
      }
      
      .footer-menu ul{
        display: flex;
      }
      
      .footer-menu ul li{
      padding-right: 10px;
      display: block;
      }
      
      .footer-menu ul li a{
        color: #cfd2d6;
        text-decoration: none;
      }
      
      .footer-menu ul li a:hover{
        color: #a76fdf;
      }
